p{
    color: brown;
}
h3{
    color: aquamarine;
}
a{
    background-color: yellowgreen;
}
#parrafo3{
    color: rgb(20, 22, 21);
}
.textobrown{
    color: brown;
}
.fondorojo{
    background-color: brown;
}
.textoGrandeenNegrita{
    font-size: 150px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tamañodeImagen{
    height: 100px;
}
.anchodeImagen{
    width: 10px;
}
.margen{
    border: 1px solid;
    margin: 5px;
    padding: 20px;
}
.tabla{
    border: 5px solid;
    display: grid;
    grid-template-columns: 100px 100px 100px;

}
.tabla2{
    border: 1px solid;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.334%;

}
.contenedorDivsFlex{
    border: 2px solid rebeccapurple;
    display: flex;
    height: 500px;

}